* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #0b0636;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    margin: 100px auto;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__wrap {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--purple);
}

h2 {
    font-weight: 600;
    font-size: 28px;
    font-style: italic;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
    font-weight: 500;
    font-size: 20px;
}

button {
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem {
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.task.completed {
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}